body {
    font-family: Arial;
    margin: 20px;
}

input {
    display: block;
    padding: 10px;
    margin: 5px 0;
    width: 250px;
}

button {
    padding: 10px;
    margin: 5px 5px 5px 0;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
}
